html, body{
  min-height: 100vh;
  overflow: auto;
}

#root {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  background-color: black;
  background-image: url("stars.jpg");
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  background-color: #DA59FF;
  color: white;
  margin-top: 10px;
  border: solid #E483FF 5px;
  width: 100%;
}
.apptitle {
  font-size: 40px;
  font-family: 'Space Mono', monospace;
  margin-left: 220px;
  margin-right: 10px;
}
.subtitle {
  font-size: 20px;
}

.introduction {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 10px;
  padding: 16px;
  color: black;
  background-color: #FFB1D3;
  border: solid #FF539E 5px;
  border-radius: 15px;
  font-size: 1.25em;
}

.content {
  margin: 0 10px 0 10px;
}

.chooser {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0px 10px 0px 10px;
}

.birthdate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0px 10px 10px 0px;
  border: solid #CE2DFC 5px;
  border-radius: 15px;
  color: white;
  background-color: #1B1F28;
  font-size: 26px;
}
.birthdate .title {
  margin: 5px 0px 10px 0px;
}
select {
  font-size: 18px;
  height: 36px;
  padding: 4px;
  margin: 5px
}
label {
  margin: 5px;
  font-size: 18px;
}

.planets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 870px;
  font-size: 26px;
  color: white;
  background-color: #1B1F28;
  margin: 0px 0px 10px 0px;
  border: solid #CE2DFC 5px;
  border-radius: 15px;
}
.planets .title {
  margin: 5px 0px 0px 0px;
}

.strip {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  margin: 2px;
  cursor: pointer;
  border: solid #1B1F28 2px;
  border-radius: 8px;
}
.planet:hover {
  border: solid #E483FF 2px;
  border-radius: 8px;
}
.age {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: 250px;
  padding: 16px;
  color: black;
  background-color: #FFBDB1;
  border: solid #FF4826 5px;
  border-radius: 15px;
  font-size: 20px;
  margin: 0 10px 20px 10px;
}
.age .strip {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.age .title {
  font-size: 30px;
}

